
.glyphicon {
    margin-right: 4px !important;
}
.pagination .glyphicon {
    margin-right: 0 !important;
}
.pagination a {
    color: #555;
}
.panel ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.news-item {
    border-bottom: 1px dotted #555;
    margin: 0;
    padding: 4px;
}
.widget ul {
    list-style: outside none none;
}
