
.slide
{
width:600px;
height:500px;
background-color:#4669DB;
float:left;
}
.mr 
{
width:600px;
height:500px;
border-radius: 15px 15px 15px 15px;
background-color:green;
float:left;
}
/*.mr h3{
link  {color:#FF0000;}    /* unvisited link 
visited {color:#00FF00;} /* visited link 
hover {color:#FF00FF;}   /* mouse over link 
active {color:#0000FF;}  /* selected link 
}*/
.left1
{
width:600px;
height:400px;
background-color:#9EC6E5;
float:left;
}

.right1
{
width:600px;
height:200px;
background-color:#DDDB9E;
float:left;
}

.right11
{
width:600px;
height:200px;
background-color:green;
float:left;
}

.left2
{
width:600px;
height:400px;
background-color:#DDDB9E;
float:left;
}

.right2
{
width:600px;
height:400px;
background-color:#9EC6E5;
float:left;
}
body{
margin:0px;
}
.fotar
{
width:1200px;
height:100px;
background-color:#A182EF;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
float:left;
}
p
{
padding:10px;
text-align:justify;
}
h1
{
text-align:center;

}
.n
{
margin:0px
}
